@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
* {
    @apply  box-border list-none  p-0 m-0 scroll-smooth;
}
body {
    @apply font-Almarai bg-slate-200 ;
}
}

@layer components {
.flexCenter {
    @apply flex items-center justify-center;
}

.flexBetween {
    @apply flex items-center justify-between;
}
.flexAround {
    @apply flex items-center justify-around;
}

.flexStart {
    @apply flex items-center justify-start;
}

.flexEnd {
    @apply flex items-center justify-end;
}
.button1 {
    @apply   border-gray-400  hover:border-gray-200 border-2  hover:bg-gray-100 hover:text-Red duration-300 rounded-lg ;
}

}

@layer utilities{
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
}
}
